h1 , p {
  display: flex;
  justify-content: center;
  color:  #6fe7bd;
  font-family: cursive;

}
body {
  font-family: cursive;
  font-size: 16px;
  background-image: url(./Assets/Images/pexels-pixabay-355235.jpg);
  background-size: cover;
  color: #ffffff;
}

.timeblocks{
  height: 400px;

}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: 	#F88379;
  text-shadow: 2px 2px 2px black;
  font-size: xx-large;
  /* border-left: 1px solid black; */
  padding: 10px;
  
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #b9a3ce;
  color: #000000;
  border-top: 1px dashed #ffffff;
  border-radius: 15px 15px 15px 15px;
}

.past {
  background-color: transparent;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  /* border-left: 1px solid black; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #828f52;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
